.day-card{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    /* text-align: center; */
}

.day-card .day{
    /* background-color: burlywood; */
    border-radius: 10px;
    width: 96.6666%;
    margin: auto;
}

.day-card .day h1{
    padding-top: 10px;
}

.day-card .main{
    /* background-color: brown; */
    border-radius: 10px;
    width: 90%;
    margin: auto;
    text-align: left;
}