<div class="shine"></div>
<mat-toolbar color="primary">
    <mat-toolbar color="primary" style="width: 80%; margin: auto;">
        <button routerLink='/home' mat-button>Bonita Shores Resort</button>
        <div class="topNavRight">
            <div *ngFor="let button of buttonList">
                <button routerLink='/{{button.toLowerCase()}}' mat-button>{{button}}</button>
                &nbsp;
            </div>
            <sign-in-popup></sign-in-popup>
        </div>
    </mat-toolbar>
</mat-toolbar>
<div class="shadow-top"></div>