<div *ngIf="!userService.loggedIn; else loggedOut">
    <button mat-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">Sign In</button>
    <mat-menu #menu="matMenu" class="menu-form-wrapper" [hasBackdrop]="false">
        <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <form class="menu-form" (ngSubmit)="signin()">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" name="email" [(ngModel)]="email">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" [(ngModel)]="password">
                </mat-form-field>

                <span>
                    <button class="topNavRight" mat-raised-button>Sign in</button>
                </span>

            </form>
            <span class="menu-form">
                <button mat-raised-button>Register</button>
            </span>
        </div>

    </mat-menu>
</div>

<ng-template #loggedOut>
    <button mat-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">{{userService.currentUser.firstName}}
        {{userService.currentUser.lastName}}</button>
    <mat-menu #menu="matMenu" class="menu-form-wrapper" [hasBackdrop]="false">
        <span class="menu-form">
            <button routerLink='/dashboard' mat-raised-button>My Trip</button>
            &nbsp;
            <button (click)="this.userService.logout();" mat-raised-button>Logout</button>
        </span>
    </mat-menu>
</ng-template>