<app-loading-popup #loading></app-loading-popup>
<app-header></app-header>
<div class="img-holder">
    <img class="adImage" src={{currentRestaurant.extra}}>
    <button class="rightButton" mat-fab (click)="changeRestaurant(1)"><mat-icon
            class="icon-arrow">keyboard_arrow_right</mat-icon></button>
    <button class="leftButton" mat-fab (click)="changeRestaurant(-1)"><mat-icon
            class="icon-arrow">keyboard_arrow_left</mat-icon></button>
    <div class="title"><h1 style="font-size: 3em; color: white;"><b>{{currentRestaurant.name}}</b></h1></div>
</div>
<br>

<mat-grid-list cols="3" rowHeight="800px">
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">
            <img class="smallAdImage"
                src="https://images.unsplash.com/photo-1465996140498-df84be101126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
            <div class="smallAdText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut tellus.</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">
            <img class="smallAdImage"
                src="https://images.unsplash.com/photo-1465996140498-df84be101126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
            <div class="smallAdText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper viverra nam libero.</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="expand-grid">
            <!-- this should be a big page, which allows clients to swipe through different restuarants. -->
            <!-- <h4><b>Choose a Restaurant:</b></h4>
            <hr class="rounded">
            <div *ngFor="let hotel of databaseLocal.hotels; let i = index">
                <div *ngIf="i==currentHotelID; else notChosen">
                    <button (click)="chooseHotel(i)" color="primary" mat-raised-button>{{hotel.name}}</button>
                </div>
                <ng-template #notChosen>
                    <button (click)="chooseHotel(i)" mat-button>{{hotel.name}}</button>
                </ng-template>
            </div> -->
            <h4><b>Reserve Date & Time for {{currentRestaurant.name}}:</b></h4>
            <hr class="rounded">
            <div style="height: 40px; text-align: center;">
                <button style="width: 212px;" mat-stroked-button [matMenuTriggerFor]="menuStartDate"
                    #startDateTrigger="matMenuTrigger">{{getShortDate(startDate)}}</button>
            </div>
            <div style="height: 80px; text-align: center;">
                <mat-menu yPosition="above" #menuStartDate="matMenu" class="menu-form-wrapper">
                    <div (click)="$event.stopPropagation()">
                        <mat-calendar [(selected)]="startDate" [minDate]="today" [maxDate]="endDateMax"
                            (selectedChange)="selectedChangeFirstDate($event)"></mat-calendar>
                    </div>
                </mat-menu>
                <mat-form-field appearance="outline">
                    <mat-label>Time:</mat-label>
                    <mat-select #timeSelector (selectionChange)="selectTime($event.value)">
                        <mat-option *ngFor="let time of restaurantTimes;" [value]="time.count">
                            {{time.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div style="text-align: center;">
                <!-- <h2><b>{{getDayDifference()}}</b></h2> -->
            </div>
            <div style="height: 36px; text-align: center; width: 80%; margin: auto;">
                <button [disabled]="selectedRestaurantType==-1" [hidden]="!this.userService.loggedIn" color="primary" (click)="reserveTime()" mat-raised-button>Reserve Time</button>
                <sign-in-popup [hidden]="this.userService.loggedIn" style="text-align: center;" [raised]="true" buttonName="Sign-In or Register to Reserve" color="primary"></sign-in-popup>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>