<app-header></app-header>
<div class="img-holder">
    <img class="adImage adImageAnimate" id="adImage" src={{currentImage}}>
    <button class="rightButton" mat-fab (click)="moveImage(1)"><mat-icon
            class="icon-arrow">keyboard_arrow_right</mat-icon></button>
    <button class="leftButton" mat-fab (click)="moveImage(-1)"><mat-icon
            class="icon-arrow">keyboard_arrow_left</mat-icon></button>
</div>
<br>

<mat-grid-list cols="3" rowHeight="800px">
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">
            <img class="smallAdImage"
                src="https://images.unsplash.com/photo-1547737412-04c9cf2b0f56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1933&q=80">
            <div class="info-box">
                <div class="smallAdText">
                    <h2>Sed Adipiscing</h2>Ornare aenean euismod elementum nisi quis eleifend quam. Sed adipiscing
                    diam donec adipiscing tristique risus nec. Et netus et malesuada fames ac.
                </div>
            </div>
            <hr class="rounded">
            <img class="smallAdImage"
                src="https://images.unsplash.com/photo-1586864101969-d7564be25804?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fHdhdGVyJTIwcGFya3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
            <div class="info-box">
                <div class="smallAdText">
                    <h2>Vitae Proin Sagittis</h2>Pellentesque habitant morbi tristique senectus. Massa ultricies mi quis
                    hendrerit dolor magna. Vitae proin sagittis nisl rhoncus. Interdum consectetur libero id faucibus.
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">
            <img class="smallAdImage"
                src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80">
            <div class="info-box">
                <div class="smallAdText">
                    <h2>Sollicitudin ac Orci</h2>Massa id neque aliquam vestibulum morbi. Posuere sollicitudin aliquam
                    ultrices sagittis orci a scelerisque purus. Sollicitudin ac orci phasellus egestas tellus rutrum
                    tellus pellentesque.
                </div>
            </div>
            <hr class="rounded">
            <img class="smallAdImage"
                src="https://images.unsplash.com/photo-1468824357306-a439d58ccb1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1959&q=80">
            <div class="info-box">
                <div class="smallAdText">
                    <h2>Cursus Metus</h2>Mi proin sed libero enim sed. Cursus metus aliquam eleifend mi in nulla
                    posuere sollicitudin aliquam. Posuere sollicitudin aliquam ultrices sagittis orci a.
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">


            <iframe width="90%" height="450" style="border:0; border-radius: 10px" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/view?zoom=15&center=26.3646%2C-81.8546&key=AIzaSyBYGjQXIxqUgiy0ef5JbWgr1SVnAqS41x4"></iframe>
            <h1><b>Located on Bay's Island!</b></h1>
            <div class="smallAdText">
                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>