<app-header></app-header>
<div class="img-holder">
    <img class="adImage" src={{currentImage}}>
    <button class="rightButton" mat-fab (click)="moveImage(1)"><mat-icon
            class="icon-arrow">keyboard_arrow_right</mat-icon></button>
    <button class="leftButton" mat-fab (click)="moveImage(-1)"><mat-icon
            class="icon-arrow">keyboard_arrow_left</mat-icon></button>
</div>
<br>

<mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
        <img class="smallAdImage"
            src="https://images.unsplash.com/photo-1465996140498-df84be101126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
        <div class="smallAdText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut tellus.</div>
    </mat-grid-tile>
    <mat-grid-tile><img class="smallAdImage"
            src="https://images.unsplash.com/photo-1465996140498-df84be101126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
        <div class="smallAdText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper viverra nam libero.</div>
    </mat-grid-tile>
    <mat-grid-tile><img class="smallAdImage"
            src="https://images.unsplash.com/photo-1465996140498-df84be101126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
        <div class="smallAdText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum.
        </div>
    </mat-grid-tile>
</mat-grid-list>