.right-button-slide {
    right: 50px;
    bottom: 50px;
}

.slide-main {
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slide-away {
    pointer-events: none;
    animation: 3s slideAway forwards;
}

@keyframes slideAway {
    from {
        background-color: white;
    }

    to {
        background-color: rgba(255, 255, 255, 0);
    }
}

.slide-button-right {
    animation: 1s slideButtonRight forwards;
}

@keyframes slideButtonRight {
    from {
        right: 50px;
    }

    to {
        right: -200px;
    }
}

/* .slide-button-left{
    animation: 1s slideButtonLeft forwards;
}

@keyframes slideButtonLeft {
    from {
        left: 0px;
    }

    to {
        left: -200px;
    }
} */

.background {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
}

.space {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.space img {
    position: absolute;
    opacity: 30%;
    transform-origin: center;
    transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.planet {
    position: absolute;
    /* width: 200px;
    height: auto;
    aspect-ratio: 1 / 1; */

    /* top: 100%;
    left: 100%; */
    transform-origin: center;
    transform: translate(80vw, 70vh) translate(-50%, -50%);
}

.planet img {
    transform-origin: center;
    position: absolute;
    width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;

    transition: transform 8s;
}

.planet-move01 {
    transition: transform 20s;
    transform: scale(1, 1) translate(70vw, 65vh) translate(-50%, -50%) rotate(9deg)
}

.planet-move01 img {
    transition: transform 20s;
    transform: scale(2, 2)
}

.space-move01 img {
    transition: transform 20s;
    transform: translate(50vw, 50vh) translate(-52%, -51%);
}

.planet-move02 {
    transition: transform 20s;
    transform: scale(1, 1) translate(60vw, 50vh) translate(-50%, -50%) rotate(18deg)
}

.planet-move02 img {
    transition: transform 20s;
    transform: scale(3, 3)
}

.space-move02 img {
    transition: transform 20s;
    transform: translate(50vw, 50vh) translate(-54%, -52%);
}

.planet-move03mid {
    transition: transform 5s;
    transform: scale(1, 1) translate(50vw, 40vh) translate(-50%, -50%) rotate(24deg)
}

.planet-move03mid img {
    transition: transform 5s;
    transform: scale(5, 5)
}

.planet-move03 {
    transition: transform 2.5s ease-in;
    transform: scale(1, .7) translate(50vw, 50vh) translate(-50%, -50%) rotate(30deg)
}

.planet-move03 img {
    transition: transform 2.5s ease-in;
    transform: scale(50, 50) translate(-13%, -1%)
}

.space-move03 img {
    transition: transform 4s;
    transform: translate(50vw, 50vh) translate(-55%, -54%);
}

.atmosphere {
    z-index: 101;
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1, 2) rotateZ(-5deg);;
    opacity: 0%;
}

.atmosphere-reveal {
    animation: 1.4s atmosphereReveal forwards;
    transition: transform ease-in 2s;
    transform: scale(3, 3) rotateZ(5deg);
}

@keyframes atmosphereReveal {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.atmosphere-hide {
    animation: 1s atmosphereHide forwards;
}

@keyframes atmosphereHide {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.info-panel {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 600px;
    height: calc(100% - 100px);
    border-radius: 10px;
    color: white;
}

.info-panel-hide {
    transform: translate(-200%, 0);
}

.info-panel-reveal {
    transition: transform ease-out 4s;
    transform: translate(0, 0);
}

.info-panel-fly {
    transition: transform ease-in 4s;
    transform: translate(0, 200%);
}

.info-panel .title {
    position: absolute;
    width: calc(100% - 250px);
    top: 100px;
    left: 250px;
    text-align: center;
    font-size: 3em;
}

.info-panel-right {
    position: absolute;
    top: 250px;
    right: 50px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    width: calc(100% - 750px);
    height: 200px;
    border-radius: 10px;
    color: white;
    transform: rotateX(90deg) translate(0, -200%);
    opacity: 0%;
}

.info-panel-right-unfold {
    transition: transform ease-out 5s;
    transform: rotateX(0deg) translate(0, 0);
    animation: 3s unfade 1s forwards;
}

.info-panel-right-quick-appear {
    transform: rotateX(0deg) translate(0, 0);
    animation: 1s unfade forwards;
}

.info-panel-right-quick-disappear {
    transform: rotateX(0deg) translate(0, 0);
    animation: 4s fade forwards;
}

.info-panel-right-fly {
    transition: transform ease-in 5s;
    transform: translate(0, 100vh);
    /* animation: 3s unfade 1s forwards; */
}

.info-panel-right .title {
    text-align: center;
    font-size: 4em;
}

.info-panel-right .text {
    text-align: center;
    font-size: 3em;
}


.picture {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
}

.picture-behind {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: 100px;
    background-color: white;
}

.picture .img-small {
    width: calc(100% - 20px);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 100%;
    transform: translate(10px, 10px);
}

.picture .img-big {
    width: calc(100% - 10px);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 100%;
    transform: translate(5px, 5px);
}


.point {
    width: 60%;
    margin-left: 40%;
    height: 160px;
}

.point .circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    float: left;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;

    position: absolute;
    transform: translate(231px, 173px);
    z-index: 105;
    animation: .5s unfade alternate;
    animation-iteration-count: infinite;
}

.point .text {
    /* text-align: center; */
    margin-left: 20px;
    width: 250px;
    height: 60px;
    float: left;
}

.point ul {
    position: relative;
    left: -20px;
}

.info-panel-right-img {
    position: absolute;
    top: 350px;
    right: 50px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    width: calc(100% - 750px);
    height: 0px;
    border-radius: 10px;
    color: white;
    /* transform: scaleY(0); */
    opacity: 0%;
}

.info-panel-right-img-open {
    animation: 3s open forwards, 1s unfade forwards;
}

.info-panel-right-img-close {
    height: 600px;
    top: 50px;
    animation: 4s fade forwards;
}

.info-panel-right-img img {
    position: absolute;
    /* width: 1200px; */
    width: 1170px;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.info-panel-top {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    width: calc(100% - 100px);
    height: 300px;
    border-radius: 10px;
    color: white;
    opacity: 0%;
}

.info-panel-top-reveal {
    animation: 4s unfade 1s forwards, 4s expand 4s forwards;
}

.info-panel-top-hide {
    animation: 4s fade forwards;
    height: 500px;
}

.large-title {
    font-size: 3em;
    transform: translate(0,8px);
}

.hide {
    opacity: 0%;
}

.unhide {
    animation: 1s unfade forwards;
}

@keyframes expand {
    from {
        height: 300px;
    }

    to {
        height: 500px;
    }
}

@keyframes open {
    from {
        height: 0px;
        top: 350px
    }

    to {
        height: 600px;
        top: 50px;
    }
}

@keyframes unfade {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}