<div class="slide-main" id="slide-main">
    <div class="background">
        <div class="space" id="space" [hidden]="hidePlanet">
            <img src="/assets/Slide/Space.avif">
        </div>
        <div class="planet" id="planet" [hidden]="hidePlanet">
            <img src="/assets/Slide/Planet.png">
        </div>
        <img class="atmosphere" id="atmosphere" src="/assets/Slide/Atmosphere.avif">
    </div>
    <div class="img-holder" style="height: 100%;">
        <button id="rightButton" class="rightButton right-button-slide" mat-fab (click)="moveSlide(1)"
            color="primary"><mat-icon class="icon-arrow">keyboard_arrow_right</mat-icon></button>
        <!-- <button id="leftButton" class="leftButton" mat-fab (click)="moveSlide(-1)" color="primary"><mat-icon
                class="icon-arrow">keyboard_arrow_left</mat-icon></button> -->
    </div>
    <div class="info-panel">
        <br>
        <h1 class="title"><b>Joshua Clark</b></h1>
        <div class="picture-behind">

        </div>
        <div class="picture">
            <img src="/assets/Slide/Myself.png">
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <div class="point">
            <div class="circle"></div>
            <div class="text">
                <h1><b>Point</b></h1>
                <div>Here's a bunch of details written out to take a bunch of space.</div>
            </div>
        </div>
        <div class="point">
            <div class="circle"></div>
            <div class="text">
                <h1><b>Point lol</b></h1>
                <div>Point details</div>
            </div>
        </div>
        <div class="point">
            <div class="circle"></div>
            <div class="text">
                <h1><b>Point lol</b></h1>
                <div>Point details</div>
            </div>
        </div>
        <div class="point">
            <div class="circle"></div>
            <div class="text">
                <h1><b>Point lol</b></h1>
                <div>Point details</div>
            </div>
        </div>
        <div class="point">
            <div class="circle"></div>
            <div class="text">
                <h1><b>Point lol</b></h1>
                <div>Point details</div>
            </div>
        </div>
    </div>

    <div class="info-panel-right">
        <h1 class="title">Testing</h1>
    </div>
</div>
<app-home [hidden]="hideHomePage"></app-home>