/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu-form-wrapper {
    width: 300px;
}

.menu-form-wrapper .menu-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.topNavRight {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.adImage {
    width: 100%;
    height: 500px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 0% 50%;
    background-color: rgb(170, 170, 170);
}

.adImageAnimate {
    animation: 3s alternate slideAdImage;
}

@keyframes slideAdImage {
    from {
        object-position: 0% 30%;
    }

    to {
        object-position: 0% 50%;
    }
}

.smallAdImage {
    width: 90%;
    height: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    /* position: absolute;
    top: 10px; */
}

.smallAdText {
    width: 90%;
    text-align: center;
    margin: auto;
}

.info-box {
    min-height: 120px;
}

.img-holder {
    position: relative;
}

.img-holder .rightButton {
    position: absolute;
    bottom: 50%;
    right: 10px;
    /*your button position*/
}

.img-holder .leftButton {
    position: absolute;
    bottom: 50%;
    left: 10px;
    /*your button position*/
}

.img-holder .title {
    position: absolute;
    left: 0px;
    bottom: 5px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-holder .title h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.icon-arrow {
    transform: scale(2.5);
}

.calendar-card {
    width: 300px
}

.mat-date-range-input-separator {
    display: none;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    width: 90%;
}

.expand-grid {
    width: 100%;
    height: 100%;
}

.element-right-side {
    position: absolute !important;
    right: 10px !important;
}

.element-left-side {
    position: absolute !important;
    left: 10px !important;
}

.element-inline {
    display: inline;
}

.empty-text {
    color: rgb(190, 190, 190);
}

.image-grid-fill {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.image-ocean {
    width: 100%;
    height: 1000px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    z-index: -10;
    background-image: url("https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    background-position: 0% 100%;
    position: absolute;
}

.image-ocean .cover {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(255, 255, 255));
}

/* .shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, .2));
    position: absolute;
} */

.shadow-top {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0));
    position: absolute;
    height: 5px;
    width: 100%;
    z-index: 10;
}

.shine {
    background-image: linear-gradient(to bottom, rgba(192, 34, 240, 0.4), rgb(0, 0, 0, 0));
    position: absolute;
    height: 60px;
    width: 100%;
}

.background{
    background-color: rgb(0, 0, 0, .5);
    width: 50%;
    height: 200px;
    margin: auto;
}

.background-end{
    width: 50%;
    margin: auto;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0,0,0,0));
}

.info-section{
    width: 50%;
    margin: auto;
    height: 150px;
    color: white;
    text-align: center;
}

.info-section h1{
    font-size: 3em;
}

.error{
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0,0,0,0)); */
    color: rgb(204, 75, 75);
    user-select: none;
    text-align: center;
    font-size: small;
}

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";