<app-loading-popup #loading></app-loading-popup>
<app-header></app-header>

<div class="image-ocean">
    <div class="cover">

    </div>
</div>

<div class="img-holder">
    <img class="adImage adImageAnimate" id="adImage" src={{currentHotel.extra}}>
    <button class="rightButton" mat-fab (click)="changeHotel(1)"><mat-icon
            class="icon-arrow">keyboard_arrow_right</mat-icon></button>
    <button class="leftButton" mat-fab (click)="changeHotel(-1)"><mat-icon
            class="icon-arrow">keyboard_arrow_left</mat-icon></button>
    <div class="title">
        <h1 style="font-size: 3em; color: white;"><b>{{currentHotel.name}}</b></h1>
    </div>
</div>
<br>

<mat-grid-list cols="3" rowHeight="{{rowHeight}}">
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">
            <img (click)="changeHotelDirect(0)" class="smallAdImage"
                src="{{databaseLocal.hotels[0].extra}}">
            <div mat-fab class="info-box">
                <div class="smallAdText">
                    <h2 (click)="changeHotelDirect(0)">{{databaseLocal.hotels[0].name}}</h2>{{databaseLocal.hotels[0].details![0]}}
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="expand-grid" style="text-align: center;">
            <img (click)="changeHotelDirect(1)" class="smallAdImage"
                src="{{databaseLocal.hotels[1].extra}}">
            <div class="info-box">
                <div class="smallAdText">
                    <h2 (click)="changeHotelDirect(1)">{{databaseLocal.hotels[1].name}}</h2>{{databaseLocal.hotels[1].details![0]}}
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="expand-grid">
            <div style="text-align: center;">
                <h1 style="display: inline;"><b>Book a Room for<br>{{currentHotel.name}}</b></h1>
            </div>
            <br>
            <h4><b>Check-in - Check-out:</b></h4>
            <hr class="rounded">
            <div style="height: 36px; text-align: center;">
                <button mat-button [matMenuTriggerFor]="menuStartDate"
                    #startDateTrigger="matMenuTrigger">{{getShortDate(startDate)}}</button>
                <mat-menu yPosition="above" #menuStartDate="matMenu" class="menu-form-wrapper">
                    <div (click)="$event.stopPropagation()">
                        <mat-calendar [(selected)]="startDate" [minDate]="today" [maxDate]="endDateMax"
                            (selectedChange)="selectedChangeFirstDate($event)"></mat-calendar>
                    </div>
                </mat-menu>
                <mat-icon style="vertical-align:middle;">{{dayDifferenceIcon}}</mat-icon>
                <button mat-button [matMenuTriggerFor]="menuEndDate"
                    #endDateTrigger="matMenuTrigger">{{getShortDate(endDate)}}</button>
                <mat-menu yPosition="above" #menuEndDate="matMenu" class="menu-form-wrapper">
                    <div (click)="$event.stopPropagation()">
                        <mat-calendar [(selected)]="endDate" [minDate]="startDate" [maxDate]="endDateMax"
                            (selectedChange)="selectedChangeSecondDate($event)"></mat-calendar>
                    </div>
                </mat-menu>
            </div>
            <div style="text-align: center;">
                <h2><b>{{getDayDifference()}}</b></h2>
            </div>
            <!-- <h4><b>Select Hotel:</b></h4>
            <hr class="rounded">
            <div *ngFor="let hotel of databaseLocal.hotels; let i = index">
                <div *ngIf="i==currentHotelID; else notChosen">
                    <button (click)="chooseHotel(i)" color="primary" mat-raised-button>{{hotel.name}}</button>
                </div>
                <ng-template #notChosen>
                    <button (click)="chooseHotel(i)" mat-button>{{hotel.name}}</button>
                </ng-template>
            </div>
            <br>
            <br>
            <br> -->
            <h4><b>Select Room:</b></h4>
            <hr class="rounded">
            <mat-grid-list cols="2" rowHeight="200px">
                <mat-grid-tile *ngFor="let room of this.roomList; let i = index">
                    <div *ngIf="i==currentRoomID; else notChosen">
                        <button class="roomButton" (click)="chooseRoom(i)" color="primary" mat-raised-button>
                            <h2>{{room.name}}</h2>
                            <img src="{{room.extra}}">
                            <b>${{room.count}}</b>
                            <br>
                            <h6>Avg/Night Excl Tax</h6>
                        </button>
                    </div>
                    <ng-template #notChosen>
                        <button class="roomButton" (click)="chooseRoom(i)" mat-button>
                            <h2>{{room.name}}</h2>
                            <img src="{{room.extra}}">
                            <b>${{room.count}}</b>
                            <br>
                            <h6>Avg/Night Excl Tax</h6>
                        </button>
                    </ng-template>
                </mat-grid-tile>
            </mat-grid-list>
            <hr class="rounded">
            <div style="height: 36px; text-align: center; width: 80%; margin: auto;" [hidden]="purchasing">
                <button color="primary" (click)="purchasingClick();" mat-raised-button>Calculate Total</button>
            </div>
            <div [hidden]="!purchasing">
                <h4><b>Order Summary:</b></h4>
                <h4 class="element-inline element-left-side">Subtotal: </h4>
                <h4 class="element-right-side element-inline">{{getBookingCost()}}</h4>
                <br>
                <br>
                <h4 class="element-inline element-left-side">Taxes:</h4>
                <h4 class="element-right-side element-inline">{{getTaxes()}}</h4>
                <br>
                <br>
                <h4 class="element-inline element-left-side">Total:</h4>
                <h4 class="element-right-side element-inline">{{getBookingTotal()}}</h4>
                <br>
                <br>
                <button [hidden]="!this.userService.loggedIn" color="primary" (click)="checkout();"
                    (click)="purchasing=true;" mat-raised-button>Checkout</button>
                <sign-in-popup [hidden]="this.userService.loggedIn" style="text-align: center;" [raised]="true"
                    buttonName="Sign-In or Register to Book" color="primary"></sign-in-popup>
            </div>
            <div id="checkout"></div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>