<app-header></app-header>

<div style="min-height: 100%;">

  <div class="image-ocean">
    <div class="cover">
      <div class="background">

      </div>
      <div class="background-end">
      </div>
    </div>
  </div>
  <div class="info-section">
    <br>
    <br>
    <h1><b>Create an account and join the fun!</b></h1>
    <br>
</div>

  <br>
  <div class="signup">
    <form (ngSubmit)="signUp()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="name@example.com" type="text" name="email" [(ngModel)]="newUser.email" [formControl]="emailFormControl" required>
        <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="newUser.password" [formControl]="passwordFormControl" required>
        <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" [(ngModel)]="newUser.firstName" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="newUser.lastName" required>
      </mat-form-field>
      <br>
      <span class="menu-form">
        <button mat-raised-button>Register</button>
      </span>

    </form>
  </div>
</div>
<app-footer></app-footer>