<app-header></app-header>
<!-- <form (ngSubmit)="signUp()">
  <h1>REGISTER</h1>
  <span>First Name </span>
  <input placeholder="Enter First Name" type="text" name="firstName" [(ngModel)]="newUser.firstName"><br><br>
  <span>Last Name </span>
  <input placeholder="Enter Last Name" type="text" name="lastName" [(ngModel)]="newUser.lastName"><br><br>
  <span>Email </span>
  <input placeholder="Enter Email" type="text" name="email" [(ngModel)]="newUser.email"><br><br>
  <span>Password </span>
  <input placeholder="Enter Password" type="text" name="password" [(ngModel)]="newUser.password"><br><br>

  <button>
    Sign Up
  </button>
</form> -->
<br>
<div class="signup">
<form (ngSubmit)="signUp()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" name="email" [(ngModel)]="newUser.email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="newUser.password">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text" name="firstName" [(ngModel)]="newUser.firstName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text" name="lastName" [(ngModel)]="newUser.lastName">
  </mat-form-field>
  <br>
  <span class="menu-form">
    <button mat-raised-button>Register</button>
  </span>

</form>
</div>